@model List<Web_Oblig1.Models.Bestilling>
@{ 
    var ajaxParma = new AjaxOptions();
    ajaxParma.Url = "/Bestilling/hentBestillinger";
    ajaxParma.UpdateTargetId = "result";
}


    <script  src="~/Scripts/jquery-­‐1.7.1.js"></script>
    <script  src="~/Scripts/jquery.unobtrusive-­‐ajax.js"></script>
    <script type="text/javascript">
        function getBestillinger() {
            $("#result").load("/Bestilling/hentBestillinger",
                        { kundeid : @Session["kundeID"] }, 
                            function (returstring) {
                                $("#result").innerHTML = returstring;
                            });
               }

        function getBestillingerAsync(){
            $.ajax(
            {
                url: "Bestilling/hentBestillinger",
                data: {
                   kundeid: @Session["kundeID"]
                },
                sucess: function(){
                    getBestillingerJSON();
                }
            }
            );
        }

        function getBestillingerJSON(){
            $.getJSON("Bestilling/hentBestillinger", 
                    { kundeid : @Session["kundeID"] }, 
                    function(returstring){
                        $("#result").html(returstring);
                });
            }
        
    </script>
    <div id="result" class="col-md-3">

    </div>
    
    <button onclick="getBestillinger()" class="btn btn-success">Vis alle bestillinger</button>
                    



