body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}
img
/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
#sidebar{
    margin-top: 0 !important;
}
#logo{
    display:inline-block;
    float:left;
    height:60px;
    width:250px;
}
.vare img{
    width: 100px;
    height: 100px;
}
.vare {
    padding: 0.5em;
    border: solid #808080 1px;
    margin-right: -1px;
    margin-bottom: -1px;
}
#sidebar-nav li p{
    cursor: pointer;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    border-bottom: solid 1px #808080;
}
#endrekundetable td{
    width: 10em;
}
